/* Globale Bootstrap-Farbvariablen überschreiben */
:root {
    /* Primärfarbe (Buttons, Links, Badges etc.) */
    --bs-primary: #104e70; /* deine Wunschfarbe */
    --bs-primary-rgb: 0, 111, 156;
    /* Link-Farbe (optional, meist auf primary abgestimmt) */
    --bs-link-color: #006f9c;
    --bs-link-hover-color: #005679;
    /* Fokus / Outline (optional) */
    --bs-focus-ring-color: rgba(0, 111, 156, 0.25);
}



html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}